.divider {
  background-color: $sec-colour;
  height: 4rem;
  font-weight: 100;

  a {
    text-decoration: none;
    color: black;
  }

  span, i {
    padding-right: 3rem;
  }

  &__content {
    margin: 1rem 0;
  }
}