.hero {
  background-color: $prim-colour;

  .hero-container {
    padding: 10rem 0;

    h2 {
      font-weight: 700;
      text-align: center;
      margin: 3rem 0;
    }

    &__icons {
      text-align: center;
      @include flexbox(flex, space-between, center);
      width: 40%;
      margin: 0 auto;

      i {
        margin: 1rem;
        color: white;
      }
    }
  }
}

.steps {
  margin-top: 10rem;

  h3 {
    margin: 5rem 0;
  }

  &__wrapper {
    img {
      display: grid;
    }
  }

  &__one {
    margin-bottom: 4rem;
    font-size: 1.5rem;
  }

  &__two {
    margin-bottom: 4rem;
    margin-left: 4rem;
    font-size: 1.5rem;
  }

  &__three {
    margin-bottom: 4rem;
    font-size: 1.5rem;
  }

  &__illustration {
    img {
      width: 100%;
      padding: 5rem 0;
    }
  }
}

.rent-register {
  margin-top: 15rem;

  &__bg--left {
    background-color: $prim-colour;
    height: 15rem;
    padding: 0;

    .content-left {
      padding: 4rem 0;

      h3 {
        font-family: $title;
        font-size: 4rem;
        margin: 0;
      }

      span {
        font-family: $title;
      }
    }
  }

  &__bg--right {
    background-color: $sec-colour;
    height: 15rem;
    padding: 0;

    .content-right {
      padding: 5rem 0;

      i {
        font-size: 5rem;
        color: white;
      }
    }
  }
}

.about {
  margin: 15rem 0;

  @include bp(desktop) {
    &__card {
      @include flexbox(flex, center, center);
    }
  }

  &__card {
    .card-panel {
      background-color: $prim-colour;
      border-radius: 2rem;
      height: 20rem;
      margin: 4rem 1rem;
    }

    @include bp(desktop) {
      .card-panel {
        width: 20rem;
      }
    }

    span {
      font-family: $title;
      font-size: 1.8rem;
    }

    .img-left {
      height: 7.2rem;
      background-size: cover;
      position: relative;
      top: -3rem;
      left: -4rem;
    }

    .txt-left {
      margin-top: -2rem;
    }

    .img-right {
        height: 10rem;
        background-size: cover;
        position: relative;
        top: -5rem;
        left: 9rem;
      }

    .img-right-two {
      height: 8.5rem;
      background-size: cover;
      position: relative;
      top: -10rem;
      left: -10rem;
    }

    @include bp(tablet) {
      .img-right-two {
        top: -13rem;
        left: -9rem;
      }
    }

    .txt-right {
      position: relative;
      top: -10rem;
    }
    }
  }

.contact {
  background-color: $prim-colour;
  padding: 10rem 0;
}