.hero {
  background-color: $prim-colour;

  .hero-container {
    padding: 5rem 0;

    h2 {
      font-weight: 700;
      text-align: center;
      margin: 3rem 0;
    }

    &__icons {
      text-align: center;
      @include flexbox(flex, space-between, center);
      width: 40%;
      margin: 0 auto;

      i {
        margin: 1rem;
        color: white;
      }
    }
  }
}

.steps {
  h4 {
    margin: 3rem 0;
  }

  &__wrapper {
    img {
      display: grid;
    }
  }

  &__one {
    margin-bottom: 3rem;
  }

  &__two {
    margin-bottom: 3rem;
    margin-left: 4rem;
  }

  &__three {
    margin-bottom: 3rem;
  }

  &__illustration {
    img {
      width: 100%;
    }
  }
}