.logo {
  font-family: $title;

  @include bp(desktop) {
    margin-left: 2rem;
  }
}

.nav-wrapper {
  background-color: $prim-colour;
  box-shadow: 0.2rem 0.2rem $prim-colour;
}

.sidenav {
  background-color: $sec-colour;
}

.username {
  i {
    font-size: 1.3rem;
  }

  .fa-sort-down {
    margin-left: 1rem;
  }
}

.sidenav li > a > i {
  margin: 0;
}

// Dropdown nav desktop override

.dropdown-content {
  background-color: $sec-colour;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: white;
}

.dropdown-content li:hover, .dropdown-content li:active {
  background-color: rgba($sec-colour, 0.1) ;
}