.logo {
  font-family: $title;

  @include bp(desktop) {
    margin-left: 2rem;
  }
}

.nav-wrapper {
  background-color: $prim-colour;
  box-shadow: 0.2rem 0.2rem $prim-colour;
}

.sidenav {
  background-color: $sec-colour;
}