.profile {
  margin-bottom: 5rem;
}
.welcome-user {
  margin: 4rem 0;

  span {
    font-size: 2rem;
    font-family: $title;
  }
}

.my-profile {
  #first-name,
  #last-name,
  #email-address {
    background-color: $prim-colour;
    border-bottom: none;
  }

  label {
    color: black;
  }

}

.my-tenancies {
  margin-bottom: 5rem;
}

.button-profile {
  margin: 1rem 0;
  background-color: black;
  color: white;

  &:hover {
    background-color: $sec-colour;
  }
}