.profile {
  margin-bottom: 5rem;
}

.welcome-user {
  margin: 4rem 0;

  span {
    font-size: 2rem;
    font-family: $title;
  }
}

.my-profile {
  #first_name,
  #last_name,
  #email_address {
    background-color: $prim-colour;
    border-bottom: none;
  }

  #disabled {
    background-color: rgba($prim-colour, 0.5);
  }

  label {
    color: black;
  }
}

.my-tenancies {
  .card-buttons {
    display: grid;
    text-align: center;
    margin-top: 2rem;
  }
}

.modal-content {
  text-align: center;
}

.rent-register-profile {
  background-color: $sec-colour;
  height: 5rem;
  margin: 4rem 0;
  padding: 1.5rem 0;
  font-family: $title;

  p {
    font-size: 2rem;
  }

  a {
    color: black;
    font-size: 3rem;
  }

  i {
    color: white;
    font-size: 2rem;
  }
}


