.profile {
  margin-bottom: 5rem;
}

.welcome-user {
  margin: 4rem 0;

  span {
    font-size: 2rem;
    font-family: $title;
  }
}

.my-profile {
  #first_name,
  #last_name,
  #email_address {
    background-color: $prim-colour;
    border-bottom: none;
  }

  #disabled {
    background-color: rgba($prim-colour, 0.5);
  }

  label {
    color: black;
  }
}

.my-tenancies {
  .card-buttons {
    display: grid;
    text-align: center;
    margin-top: 2rem;
  }
}

.button-tenancy {
  margin: 1rem 0;
  background-color: white;
  color: black;

  &:hover {
    background-color: $sec-colour;
  }
}

.modal-content {
  text-align: center;
}



