.user-auth {
  button {
    background-color: $prim-colour;
    color: black;

    &:hover {
      background-color: $prim-colour-dark;
    }
  }

  &__signup {
    text-align: center;
  }

  span {
    font-size: 1.2rem;
    margin-left: 3rem;
    color: rgba(black, 0.5);
  }
}