.user-auth {

  #username,
  #password,
  #confirm-password {
    background-color: $prim-colour;
    border-bottom: none;
    margin-bottom: 0;
    margin-top: 0.2rem;
    font-family: $paragraph;
  }

  label {
    color: black;
    font-size: 1.2rem;
  }

  &__signup {
    text-align: center;

    a {
      color: $sec-colour;
    }
  }
  
  label {
    font-size: 1.2rem;
  }
}