#map {
  height: 40rem;
}

.rents-map {
  h5 {
    margin: 3rem 0 1rem 0;
  }
}

.gm-style .gm-style-iw {
  font-weight: 400;
}

.infowindow {
  &__price {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0.3rem 0;
  }

  &__address {
    font-size: 1.2rem;
    margin: 0.3rem 0;
  }

  &__type {
    font-size: 1rem;
    color: rgba(black, 0.5);
    margin: 0.3rem 0;
  }
}

.hidden-coordinates {
  display: none;
}

.js-card-tenancy {
  display: none;
}

#js-infowindow__long,
#js-infowindow__lat {
  display: none;
}