#map {
  height: 40rem;
}

.gm-style .gm-style-iw {
  font-weight: 400;
}

.infowindow {
  &__price {
    font-size: 1rem;
    font-weight: 700;
  }

  &__address {
    font-size: 1rem;
  }

  &__type {
    font-size: 0.9rem;
    color: rgba(black, 0.5);
  }
}

.rents-map {
  &__card {
    background-color: $prim-colour;
    margin: 2rem 0;
    font-weight: 100;
    padding-top: 3rem;

    .hidden-coordinates {
      display: none;
    }
  }
}