//Style sheet shared between edit-tenancy.html, view-tenancy.htmt, add-tenancy.html

.manage-tenancy {
  margin-bottom: 5rem;

  #address_1,
  #address_2,
  #start_date,
  #end_date,
  #price,
  #accommodation_type_view {
    background-color: $prim-colour;
    border-bottom: none;
    margin-bottom: 0;
    margin-top: 0.2rem;
    font-family: $paragraph;
  }

  label {
    color: black;
    font-size: 1.2rem;
  }

  &__inputs {
    margin-bottom: 4rem;
  }
}

#map-tenancy {
  display: none;
}

#js-helper-text-select {
  display: none;
  color: $sec-colour;
}

//Overwrite select input default style
.select-wrapper > input.select-dropdown.dropdown-trigger {
  background-color: $prim-colour;
  font-family: $paragraph;
}

.select-year > input.select-dropdown.dropdown-trigger,
.select-month > input.select-dropdown.dropdown-trigger {
  background-color: rgba(black, 0.01);
  font-family: $paragraph;
}

.dropdown-content li>span {
  color: black;
}

.select-wrapper .caret {
  z-index: 1;
}

.select-wrapper input.select-dropdown {
  border-bottom: none;
}

//Overwrite datepicker default style
.datepicker-date-display {
  background-color: $sec-colour;
}

.datepicker-cancel, .datepicker-today, .datepicker-done {
  color: black;
  font-weight: 700;
}

.datepicker-table td.is-today {
  color: $sec-colour;
}

.datepicker-table td.is-selected {
  background-color: rgba($sec-colour, 0.5);
}