@import 'variables';
@import 'nav';
@import 'index';
@import 'footer';
@import 'register';

//
// General Styling
//

* {
  margin: 0;
  font-size: 1.4rem;
}

body,
footer {
  font-family: $paragraph;
}

.text-shadow {
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0, 0.5);
}

.flash {
  background-color: $sec-colour;
  line-height: 2;
  color: white;
}