@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700");
.logo {
  font-family: "Bebas Neue", serif;
}
@media (min-width: 64rem) {
  .logo {
    margin-left: 2rem;
  }
}

.nav-wrapper {
  background-color: #68ff5b;
  box-shadow: 0.2rem 0.2rem #68ff5b;
}

.sidenav {
  background-color: #ff6d00;
}

.hero {
  background-color: #68ff5b;
}
.hero .hero-container {
  padding: 5rem 0;
}
.hero .hero-container h2 {
  font-weight: 700;
  text-align: center;
  margin: 3rem 0;
}
.hero .hero-container__icons {
  text-align: center;
  display: flex;
  align-items: space-between;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}
.hero .hero-container__icons i {
  margin: 1rem;
  color: white;
}

.steps h3 {
  margin: 5rem 0;
  font-weight: 600;
}
.steps__wrapper img {
  display: grid;
}
.steps__one {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.steps__two {
  margin-bottom: 4rem;
  margin-left: 4rem;
  font-size: 1.5rem;
}
.steps__three {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.steps__illustration img {
  width: 100%;
}
.steps button {
  background-color: black;
}
.steps button:hover {
  background-color: #ff6d00;
}
.steps button a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.about__hero {
  margin: 20rem 0;
}
.about__card .card-panel {
  background-color: #68ff5b;
  border-radius: 2rem;
  height: 20rem;
  width: 15rem;
}

.footer {
  background-color: black;
  color: white;
}
.footer__logo {
  margin: 1.5rem 0;
}
.footer__logo-heading {
  font-family: "Bebas Neue", serif;
  margin-bottom: 0;
  font-size: 3.5rem;
}
.footer__logo p {
  font-size: 1.2rem;
}
.footer__nav {
  text-decoration: none;
  margin: 1.5rem 0;
}
.footer__nav a {
  color: white;
}
.footer__social {
  margin: 1.5rem 0;
}
.footer__social a {
  color: white;
}
.footer__social-links {
  display: flex;
  justify-content: space-around;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copyright p {
  font-size: 1rem;
}

.user-auth button {
  background-color: #68ff5b;
  color: black;
}
.user-auth button:hover {
  background-color: #ff6d00;
}
.user-auth__signup {
  text-align: center;
}
.user-auth span {
  font-size: 1.2rem;
  margin-left: 3rem;
  color: rgba(0, 0, 0, 0.5);
}

.divider {
  background-color: #ff6d00;
  height: 6rem;
  font-weight: 100;
}
.divider a {
  text-decoration: none;
  color: black;
}
.divider i {
  display: none;
}
@media (min-width: 48rem) {
  .divider {
    height: 4rem;
  }
  .divider i, .divider span {
    padding-right: 2rem;
    display: inline;
  }
}
.divider__content {
  margin: 1rem 0;
  /* Move it (define the animation) */
}
.divider__content div {
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: slide-horizontal 30s linear infinite;
  text-align: center;
}
@keyframes slide-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

* {
  margin: 0;
  font-size: 1.4rem;
}

body,
footer {
  font-family: "Open Sans", sans-serif;
}

.text-shadow {
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.flash {
  background-color: #ff6d00;
  line-height: 2;
  color: white;
}

/*# sourceMappingURL=style.css.map */
