@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:100,200,300,400,500,600,700|Open+Sans:100,200,300,400,500,600,700");
.logo {
  font-family: "Bebas Neue", serif;
}
@media (min-width: 64rem) {
  .logo {
    margin-left: 2rem;
  }
}

.nav-wrapper {
  background-color: #68ff5b;
  box-shadow: 0.2rem 0.2rem #68ff5b;
}

.sidenav {
  background-color: #ff6d00;
}

.username i {
  font-size: 1.3rem;
}
.username .fa-sort-down {
  margin-left: 1rem;
}

.sidenav li > a > i {
  margin: 0;
}

.dropdown-content {
  background-color: #ff6d00;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: white;
}

.dropdown-content li:hover, .dropdown-content li:active {
  background-color: rgba(255, 109, 0, 0.1);
}

.hero {
  background-color: #68ff5b;
}
.hero .hero-container {
  padding: 10rem 0;
}
.hero .hero-container h2 {
  font-weight: 700;
  text-align: center;
  margin: 3rem 0;
}
.hero .hero-container__icons {
  text-align: center;
  display: flex;
  align-items: space-between;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
}
.hero .hero-container__icons i {
  margin: 1rem;
  color: white;
}

.steps {
  margin-top: 10rem;
}
.steps h3 {
  margin: 5rem 0;
}
.steps__wrapper img {
  display: grid;
}
.steps__one {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.steps__two {
  margin-bottom: 4rem;
  margin-left: 4rem;
  font-size: 1.5rem;
}
.steps__three {
  margin-bottom: 4rem;
  font-size: 1.5rem;
}
.steps__illustration img {
  width: 100%;
  padding: 5rem 0;
}

.rent-register {
  margin-top: 15rem;
}
.rent-register__bg--left {
  background-color: #68ff5b;
  height: 15rem;
  padding: 0;
}
.rent-register__bg--left .content-left {
  padding: 4rem 0;
}
.rent-register__bg--left .content-left p {
  font-family: "Bebas Neue", serif;
  font-size: 4rem;
}
.rent-register__bg--left .content-left span {
  font-family: "Bebas Neue", serif;
}
.rent-register__bg--right {
  background-color: #ff6d00;
  height: 15rem;
  padding: 0;
}
.rent-register__bg--right .content-right {
  padding: 5rem 0;
}
.rent-register__bg--right .content-right i {
  font-size: 5rem;
  color: white;
}

.about {
  margin: 15rem 0;
}
@media (min-width: 64rem) {
  .about__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.about__card .card-panel {
  background-color: #68ff5b;
  border-radius: 2rem;
  height: 20rem;
  margin: 4rem 1rem;
}
@media (min-width: 64rem) {
  .about__card .card-panel {
    width: 20rem;
  }
}
.about__card span {
  font-family: "Bebas Neue", serif;
  font-size: 1.8rem;
}
.about__card .img-left {
  height: 7.2rem;
  background-size: cover;
  position: relative;
  top: -3rem;
  left: -4rem;
}
.about__card .txt-left {
  margin-top: -2rem;
}
.about__card .img-right {
  height: 10rem;
  background-size: cover;
  position: relative;
  top: -5rem;
  left: 9rem;
}
.about__card .img-right-two {
  height: 8.5rem;
  background-size: cover;
  position: relative;
  top: -10rem;
  left: -10rem;
}
@media (min-width: 48rem) {
  .about__card .img-right-two {
    top: -13rem;
    left: -9rem;
  }
}
.about__card .txt-right {
  position: relative;
  top: -10rem;
}

.contact {
  background-color: #68ff5b;
  padding: 10rem 0;
}

.footer {
  background-color: black;
  color: white;
}
.footer__logo {
  margin: 1.5rem 0;
}
.footer__logo-heading {
  font-family: "Bebas Neue", serif;
  margin-bottom: 0;
  font-size: 3.5rem;
}
.footer__logo p {
  font-size: 1.2rem;
}
.footer__nav {
  text-decoration: none;
  margin: 1.5rem 0;
}
.footer__nav a {
  color: white;
}
.footer__social {
  margin: 1.5rem 0;
}
.footer__social a {
  color: white;
}
.footer__social-links {
  display: flex;
  justify-content: space-around;
}
.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copyright p {
  font-size: 1rem;
}

.user-auth #username,
.user-auth #password,
.user-auth #confirm-password {
  background-color: #68ff5b;
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 0.2rem;
  font-family: "Open Sans", sans-serif;
}
.user-auth label {
  color: black;
  font-size: 1.2rem;
}
.user-auth__signup {
  text-align: center;
}
.user-auth__signup a {
  color: #ff6d00;
}
.user-auth label {
  font-size: 1.2rem;
}

.divider {
  background-color: #ff6d00;
  height: 6rem;
  font-weight: 100;
}
.divider a {
  text-decoration: none;
  color: black;
}
.divider i {
  display: none;
}
@media (min-width: 48rem) {
  .divider {
    height: 4rem;
  }
  .divider i, .divider span {
    padding-right: 2rem;
    display: inline;
  }
}
.divider__content {
  margin: 1rem 0;
  /* Move it (define the animation) */
}
.divider__content div {
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: slide-horizontal 30s linear infinite;
  text-align: center;
}
@keyframes slide-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.profile {
  margin-bottom: 5rem;
}

.welcome-user {
  margin: 4rem 0;
}
.welcome-user span {
  font-size: 2rem;
  font-family: "Bebas Neue", serif;
}

.my-profile #first_name,
.my-profile #last_name,
.my-profile #email_address {
  background-color: #68ff5b;
  border-bottom: none;
}
.my-profile #disabled {
  background-color: rgba(104, 255, 91, 0.5);
}
.my-profile label {
  color: black;
}

.my-tenancies .card-buttons {
  display: grid;
  text-align: center;
  margin-top: 2rem;
}

.modal-content {
  text-align: center;
}

.rent-register-profile {
  background-color: #ff6d00;
  height: 8.5rem;
  margin: 4rem 0;
  padding: 1.5rem 0;
  font-family: "Bebas Neue", serif;
}
@media (min-width: 48rem) {
  .rent-register-profile {
    height: 5rem;
  }
}
.rent-register-profile__text {
  font-size: 2rem;
}
.rent-register-profile a {
  color: black;
  font-size: 3rem;
}
.rent-register-profile i {
  color: white;
  font-size: 2rem;
}

.manage-tenancy {
  margin-bottom: 5rem;
}
.manage-tenancy #address_1,
.manage-tenancy #address_2,
.manage-tenancy #start_date,
.manage-tenancy #end_date,
.manage-tenancy #price,
.manage-tenancy #accommodation_type_view {
  background-color: #68ff5b;
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 0.2rem;
  font-family: "Open Sans", sans-serif;
}
.manage-tenancy label {
  color: black;
  font-size: 1.2rem;
}
.manage-tenancy__inputs {
  margin-bottom: 4rem;
}

#map-tenancy {
  display: none;
}

#js-helper-text-select {
  display: none;
  color: #ff6d00;
}

.select-wrapper > input.select-dropdown.dropdown-trigger {
  background-color: #68ff5b;
  font-family: "Open Sans", sans-serif;
}

.select-year > input.select-dropdown.dropdown-trigger,
.select-month > input.select-dropdown.dropdown-trigger {
  background-color: rgba(0, 0, 0, 0.01);
  font-family: "Open Sans", sans-serif;
}

.dropdown-content li > span {
  color: black;
}

.select-wrapper .caret {
  z-index: 1;
}

.select-wrapper input.select-dropdown {
  border-bottom: none;
}

.datepicker-date-display {
  background-color: #ff6d00;
}

.datepicker-cancel, .datepicker-today, .datepicker-done {
  color: black;
  font-weight: 700;
}

.datepicker-table td.is-today {
  color: #ff6d00;
}

.datepicker-table td.is-selected {
  background-color: rgba(255, 109, 0, 0.5);
}

.select-month > input.select-dropdown.dropdown-trigger,
.select-year > input.select-dropdown.dropdown-trigger {
  font-size: 1rem;
}

.edit-profile {
  margin-bottom: 5rem;
}
.edit-profile #username,
.edit-profile #first_name,
.edit-profile #last_name,
.edit-profile #email_address {
  background-color: #68ff5b;
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 0.2rem;
  font-family: "Open Sans", sans-serif;
}
.edit-profile #disabled {
  background-color: rgba(104, 255, 91, 0.5);
}
.edit-profile label {
  color: black;
  font-size: 1.2rem;
}
.edit-profile__inputs {
  margin-bottom: 4rem;
}

#map {
  height: 40rem;
}

.rents-map h5 {
  margin: 3rem 0 1rem 0;
}

.gm-style .gm-style-iw {
  font-weight: 400;
}

.infowindow__price {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.3rem 0;
}
.infowindow__address {
  font-size: 1.2rem;
  margin: 0.3rem 0;
}
.infowindow__type {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.3rem 0;
}

.hidden-coordinates {
  display: none;
}

.js-card-tenancy {
  display: none;
}

#js-infowindow__long,
#js-infowindow__lat {
  display: none;
}

.card-tenancy {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2rem 0;
  font-weight: 100;
  padding-top: 3rem;
}

.card-content {
  margin-bottom: 20px;
  display: block;
  clear: both;
}
.card-content__key, .card-content__value {
  padding-right: 8px;
  display: inline-block;
}
.card-content__key p, .card-content__value p {
  margin: 0;
  font-size: 1.3rem;
}
.card-content__key {
  width: 30%;
  margin-right: 1.2rem;
  padding-top: 0.2rem;
  vertical-align: top;
}
.card-content__key p {
  font-weight: 700;
}
.card-content__value {
  position: relative;
  width: 60%;
}
.card-content hr {
  height: 0.1rem;
  margin: 2rem 0;
  background-color: #ff6d00;
  border: 0;
}
.card-content__date > p {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  margin: 2rem 0;
}

* {
  margin: 0;
  font-size: 1.4rem;
}

body,
footer {
  font-family: "Open Sans", sans-serif;
}

.text-shadow {
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.flash {
  background-color: #ff6d00;
  line-height: 2;
  color: white;
}

.heading-section {
  margin: 5rem 0;
}

.button-black {
  margin: 1rem 0;
  background-color: black;
  color: white;
}
.button-black:hover {
  background-color: #ff6d00;
}
.button-black:focus {
  background-color: #ff6d00;
}

.button-white {
  margin: 1rem 0;
  background-color: white;
  color: black;
}
.button-white:hover {
  background-color: #68ff5b;
}
.button-white:focus {
  background-color: #68ff5b;
}

.form-margin {
  margin: 1rem 0;
}

.form-margin-select {
  margin: 1rem 0 2rem 0;
  border-bottom: none;
}

.helper-text {
  font-style: italic;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
