@import 'variables';
@import 'nav';
@import 'index';
@import 'footer';
@import 'register';
@import 'divider';
@import 'profile';
@import 'tenancy';
@import "edit-profile";
@import "rent-register";
@import "card-tenancy";

//
// General Styling
//

* {
  margin: 0;
  font-size: 1.4rem;
}

body,
footer {
  font-family: $paragraph;
}

.text-shadow {
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0, 0.5);
}

//Flash Messages

.flash {
  background-color: $sec-colour;
  line-height: 2;
  color: white;
}

//Heading

.heading-section {
  margin: 5rem 0;
}

// Button

.button-black {
  margin: 1rem 0;
  background-color: black;
  color: white;

  &:hover {
    background-color: $sec-colour;
  }

  &:focus {
    background-color: $sec-colour;
  }
}

.button-white {
  margin: 1rem 0;
  background-color: white;
  color: black;

  &:hover {
    background-color: $prim-colour;
  }

  &:focus {
    background-color: $prim-colour;
  }
}

// Form

.form-margin {
  margin: 1rem 0;
}

.form-margin-select {
  margin: 1rem 0 2rem 0;
  border-bottom: none;
}

.helper-text {
  font-style: italic;
  font-size: 1rem;
  color: rgba(black, 0.5);
}