<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tenancies</title>
</head>
<body>
    {% for tenancy in tenancies %}
        {{ tenancy.address }} <br>
        {{ tenancy.latitude }} <br>
        {{ tenancy.longitude }} <br>
        {{ tenancy.category_type }} <br>
        {{ tenancy.start_date }} <br>
        {{ tenancy.end_date }} <br>
        {{ tenancy.price }} <br>
    {% endfor %}
</body>
</html>