{% extends "base.html" %}
{% block content %}

<section class="container">
    <div class="row error-handling center-align">
        <div class="col s12 m6">
            <h3>Oh dear! It seems like this page does not exist.</h3>
            <div class="btn-large button-black">
                <a href="{{ url_for('index') }}">Bring me back</i></a>
            </div>
        </div>
        <div class="col s12 m6">
            <img src="{{ url_for('static', filename='images/404-not-found.png') }}" alt="404 not found">
        </div>
    </div>
</section>

{% endblock %}