{% extends "base.html" %}
{% block content %}

<section class="container">
    <div class="row error-handling center-align">
        <div class="col s12 m6">
            <h3>Oh dear! Something went wrong.</h3>
            <a href="{{ url_for('index') }}">
                <button class="btn-large button-black">
                    Bring me back</i>
                </button>
            </a>
        </div>
        <div class="col s12 m6">
            <img src="{{ url_for('static', filename='images/500-server-error.png') }}" alt="505 server error">
        </div>
    </div>
</section>

{% endblock %}