{% extends "base.html" %}
{% block content %}

<h3 class="center-align heading-section">Add Tenancy</h3>

<section class="container add-edit-tenancy">
    <div class="card-panel">
        <form method="POST" action="{{ url_for('add_tenancy')}}">
            <!-- Flash message -->
            <div class="row">
                <div class="col s12">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <h5 class="center-align flash">{{ message }}</h5>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <!-- ./Flash message -->

            <div class="row add-edit-tenancy__inputs">
                <!-- Address Line 1 -->
                <div class="col s12 form-margin">
                    <label for="address_1">Address Line 1</label>
                    <input id="address_1" name="address_1" type="text" placeholder="">
                    <span class="helper-text">e.g. Clanbrassil Street Lower, Portobello, Dublin 8</span>
                </div>
                <!-- ./Address Line 1 -->
                <!-- Address Line 2 -->
                <div class="col s12 form-margin">
                    <label for="address_2">Address Line 2</label>
                    <input id="address_2" name="address_2" type="text">
                    <span class="helper-text">e.g. Apartment 25, Lombard Court</span>
                </div>
                <!-- ./Address Line 2 -->
                <!-- Accommodation Type -->
                <div class="col s12 form-margin-select">
                    <label for="accommodation_type">Accommodation Type</label>
                    <select id="accommodation_type" name="accommodation_type" required>
                        <option value="" disabled selected>Choose Accommodation Type</option>
                        {% for type in accommodation_types %}
                            <option value="{{ type.accommodation_type }}">{{
                                type.accommodation_type }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- ./Accommodation Type -->
                <!-- Start Date -->
                <div class="col s12 m4 form-margin">
                    <label for="start_date">Tenancy Start Date</label>
                    <input type="text" class="datepicker" id="start_date" name="start_date">
                </div>
                <!-- ./Start Date -->
                <!-- End Date -->
                <div class="col s12 m4 form-margin">
                    <label for="end_date">Tenancy End Date</label>
                    <input type="text" class="datepicker" id="end_date" name="end_date">
                </div>
                <!-- ./End Date -->
                <!-- Price -->
                <div class="col s12 m4 form-margin">
                    <label for="price">Price</label>
                    <input id="price" name="price" type="text">
                </div>
                <!-- ./Price -->
            </div>
            <!-- Submit Tenancy -->
            <div class="row center-align">
                <div class="col s12">
                    <button class="btn-large button-add-edit-tenancy" type="submit">
                        Add Tenancy <i class="fas fa-map-marked-alt"></i></button>
                </div>
            </div>
            <!-- ./Submit Tenancy -->
        </form>
        <div class="row center-align">
            <div class="col s12">
                <a href="{{ url_for('profile', username=session['user']) }}">
                    <button class="btn-small button-add-edit-tenancy">Discard <i class="fas fa-times-circle"></i></button>
                </a>
            </div>
        </div>
    </div>
    <div id="map"></div>
</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyahPifJNOEODhSoMTswXum-vuIfSDF8w&callback=initMap&libraries=places&v=weekly"
        defer></script>
{% endblock %}