{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Tenancy</h3>

<section class="container">
    <div class="card-panel">
        <form action="" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="address" name="address" type="text" placeholder="Enter an Address">
                    <label for="address">Address</label>
                </div>
                <div class="input-field col s12">
                    <select id="accommodation_type" name="accommodation_type" required>
                        <option value="" disabled selected>Room, Apartment or House</option>
                        <option value="room">Room</option>
                        <option value="apartment">Apartment</option>
                        <option value="house">House</option>
                    </select>
                    <label for="accommodation_type">Select Accommodation Type</label>
                </div>
                <div class="input-field col s12 m4">
                    <label for="start_date">Tenancy Start Date</label>
                    <input type="text" class="datepicker" id="start_date" name="start_date">
                </div>
                <div class="input-field col s12 m4">
                    <label for="end_date">Tenancy End Date</label>
                    <input type="text" class="datepicker" id="end_date" name="end_date">
                </div>
                <div class="input-field col s12 m4">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="price" name="price" type="text">
                    <label for="price">Price</label>
                </div>
            </div>
            <div class="row">
                <button class="col s8 offset-s2 btn-large" type="submit">
                    <p>Add Tenancy</p>
                </button>
            </div>
        </form>
        <div class="row">
            <div class="col">
                <button class="btn-small">Return</button>
            </div>
            <div class="col">
                <button class="btn-small">Discard</button>
            </div>
        </div>
    </div>
    <div id="map"></div>
</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyahPifJNOEODhSoMTswXum-vuIfSDF8w&callback=initMap&libraries=places&v=weekly" defer></script>
{% endblock %}