{% extends "base.html" %}
{% block content %}

<section class="container contact-form">

    <h3 class="center-align heading-section">Contact</h3>

    <div class="card-panel">
        <form id="contact-form">

            <!-- Feedback contact form -->
            <div class="row" id="js-positive-feedback">
                <div class="col s12">
                    <h5 class="center-align flash">Your email has been sent, thank you.</h5>
                </div>
            </div>
            <div class="row" id="js-negative-feedback">
                <div class="col s12">
                    <h5 class="center-align flash">Something went wrong please try again.</h5>
                </div>
            </div>
            <!-- ./Feedback contact form -->

            <div class="row contact-form__inputs">
                <!-- First Name -->
                <div class="col s6 form-margin">
                    <label for="first_name">First Name</label>
                    <input id="first_name" name="first_name" type="text" minlength="3" maxlength="20" class="validate" required>
                    <span class="helper-text" data-error="First name is too short" data-success="Correct"></span>
                </div>
                <!-- ./First Name -->
                <!-- Last Name -->
                <div class="col s6 form-margin">
                    <label for="last_name">Last Name</label>
                    <input id="last_name" name="last_name" type="text" minlength="3" maxlength="20" class="validate" required>
                    <span class="helper-text" data-error="Last name is too short" data-success="Correct"></span>
                </div>
                <!-- ./Last Name -->
                <!-- Email -->
                <div class="col s12 form-margin">
                    <label for="email_address">Email Address</label>
                    <input type="email" id="email_address" name="email_address" class="validate" required>
                    <span class="helper-text" data-error="Please enter a valid email address" data-success="Correct"></span>
                </div>
                <!-- ./Email -->
                <!-- Message -->
                <div class="col s12 form-margin">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" minlength="3" class="validate materialize-textarea" required></textarea>
                    <span class="helper-text" data-error="Message cannot be blank" data-success="Correct"></span>
                </div>
                <!-- ./Message -->
            </div>
            <!-- Submit Update -->
            <div class="row center-align">
                <div class="col s12">
                    <button class="btn-large button-black" type="submit">
                    <a href="#modal-positive" id="js-modal-trigger">Submit <i class="fas fa-paper-plane"></i>
                    </a>
                    </button>
                </div>
            </div>
            <!-- ./Submit Update -->
        </form>
    </div>
</section>

{% endblock %}

{% block scripts %}
<!-- EmailJS Script -->
<script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script src="{{ url_for('static', filename='js/email.js') }}"></script>
{% endblock %}