{% extends "base.html" %}
{% block content %}

<!--Hero-->
<section class="hero">
    <div class="container hero-container">
        <div class="row">
            <div class="col">
                <div class="hero-container__icons">
                    <img src="{{ url_for('static', filename='images/icons8-country-house.png') }}" alt="House icon">
                    <i class="fas fa-plus"></i>
                    <img src="{{ url_for('static', filename='images/icons8-money-bag.png') }}" alt="Money bag icon">
                    <i class="fas fa-plus"></i>
                    <img src="{{ url_for('static', filename='images/icons8-ireland-map.png') }}" alt="Ireland map icon">
                </div>
                <h2>User driven website of rent prices in Ireland.</h2>
            </div>
        </div>
    </div>
</section>

<!--Content divider-->
<section class="divider">
    <div class="container">
        <div class="row">
            <div class="col s12 divider__content">
                <div>
                    <span>REFER US TO YOUR FRIENDS!</span>
                    <i class="far fa-smile"></i>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener">Facebook</a> -
                    <a href="https://www.twitter.com/" target="_blank" rel="noopener">Twitter</a> -
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener">Insta</a>
                </div>
            </div>
        </div>
    </div>

</section>

<!--Map-->
<section>

</section>

<!--How it works-->
<section>
    <div class="container steps">
        <h3>How does it work?</h3>
        <div class="row">
            <div class="col s12 m6 steps__wrapper">
                <div class="steps__one">
                    <img src="{{ url_for('static', filename='images/icons8-circled-1.png') }}" alt="Step 1">
                    Log in to OpenRent
                </div>
                <div class="steps__two">
                    <img src="{{ url_for('static', filename='images/icons8-circled-2.png') }}" alt="Step 2">
                    Add how much you pay for rent and the location
                </div>
                <div class="steps__three">
                    <img src="{{ url_for('static', filename='images/icons8-circled-3.png') }}" alt="Step 3">
                    Done! The info will be displayed on the map
                </div>
            </div>
            <div class="col s12 m6 steps__illustration">
                <!-- TODO: align illustration horizontally in the container  -->
                <img src="{{ url_for('static', filename='images/woman-in-house.png') }}" alt="Woman in house">
            </div>
        </div>
        <div class="row">
            <button class="col s10 m6 btn-large offset-s1 offset-m3">
                <a href="{{ url_for('register') }}">Register here <i class="fas fa-paper-plane"></i></a>
            </button>
        </div>
    </div>
</section>

<!--Map -->
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Rent Map</h4>
            </div>
        </div>
    </div>
</section>

<!--About / Why OpenRent -->
<section class="about">
    <div class="container center-align">
        <div class="row">
            <div class="col s12 about__hero">
                <h2>Why OpenRent?</h2>
                <p>To bring the rental information to everyone and empower the people with knowledge.</p>
            </div>
            <div class="col s12 m6 about__card">
                <div class="card-panel">
                    <img class="img-one" src="{{ url_for('static', filename='images/for-you.png') }}" alt="Man with magnifying glass">
                    <div class="black-text txt-one"><span>FOR YOU</span><br> Find out what are the rent prices practiced in the Irish market.</div>
                </div>
            </div>
            <div class="col s12 m6 about__card">
                <div class="card-panel">
                    <img class="img-two-right" src="{{ url_for('static', filename='images/for-the-community-boy.png') }}" alt="Man with hand up waving">
                    <div class="black-text txt-two"><span>FOR THE <br> COMMUNITY</span><br> User friendly database of rent prices in Ireland.</div>
                    <img class="img-two-left" src="{{ url_for('static', filename='images/for-the-community-girl.png') }}" alt="Woman with hand up waving">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section>
    <div class="container contact">
        <h2>Let's Chat</h2>
        <div class="row">
            <div class="col">
                <p>Whether you fancy a chat or want to talk about our mission, we're here for you.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}