{% extends "base.html" %}
{% block content %}

<!--Hero-->
<section class="hero">
    <div class="container hero-container">
        <div class="row">
            <div class="col">
                <div class="hero-container__icons">
                    <img src="{{ url_for('static', filename='images/icons8-country-house.png') }}" alt="House icon">
                    <i class="fas fa-plus"></i>
                    <img src="{{ url_for('static', filename='images/icons8-money-bag.png') }}" alt="Money bag icon">
                    <i class="fas fa-plus"></i>
                    <img src="{{ url_for('static', filename='images/icons8-ireland-map.png') }}" alt="Ireland map icon">
                </div>
                <h2>Welcome to the first user driven rent register in Dublin.</h2>
            </div>
        </div>
    </div>
</section>

<!--Content divider-->
<section class="divider">
    <div class="container">
        <div class="row">
            <div class="col s12 divider__content">
                <div>
                    <span>REFER US TO YOUR FRIENDS!</span>
                    <i class="far fa-smile"></i>
                    <a href="https://www.facebook.com/" target="_blank" rel="noopener">Facebook</a> -
                    <a href="https://www.twitter.com/" target="_blank" rel="noopener">Twitter</a> -
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener">Insta</a>
                </div>
            </div>
        </div>
    </div>

</section>

<!--How it works-->
<section class="steps">
    <div class="container">
        <h3>How does it work?</h3>
        <div class="row">
            <div class="col s12 m6 steps__wrapper">
                <div class="steps__one">
                    <img src="{{ url_for('static', filename='images/icons8-circled-1.png') }}" alt="Step 1">
                    Log in to OpenRent
                </div>
                <div class="steps__two">
                    <img src="{{ url_for('static', filename='images/icons8-circled-2.png') }}" alt="Step 2">
                    Add how much you pay for rent and the location
                </div>
                <div class="steps__three">
                    <img src="{{ url_for('static', filename='images/icons8-circled-3.png') }}" alt="Step 3">
                    Done! The info will be displayed on the map
                </div>
            </div>
            <div class="col s12 m6 steps__illustration">
                <img src="{{ url_for('static', filename='images/woman-in-house.png') }}" alt="Woman in house">
            </div>
        </div>
        <div class="row center-align">
            {% if session.user %}
            <div class="col s12">
                <a href="{{ url_for('add_tenancy') }}">
                    <button class="btn-large button-black">
                        Add Tenancy <i class="fas fa-map-marked-alt"></i></i>
                    </button>
                </a>
            </div>
            {% else %}
            <div class="col s12">
                <a href="{{ url_for('register') }}">
                    <button class="btn-large button-black">
                        Register here <i class="fas fa-sign-in-alt"></i>
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Map link -->
<section class="rent-register">
    <div class="row center-align">
        <div class="col s12 m8 rent-register__bg--left">
            <div class="content-left">
                <p>Rent Register</p><span>Check out the map</span>
            </div>
        </div>
        <a href="{{ url_for('rent_register') }}">
            <div class="col s12 m4 rent-register__bg--right">
                <div class="content-right">
                    <i class="fas fa-angle-double-right"></i>
                    <i class="fas fa-angle-double-right"></i>
                </div>
            </div>
        </a>
    </div>
</section>

<!--About / Why OpenRent -->
<section class="about">
    <div class="container center-align">
        <div class="row">
            <div class="col s12 about__hero">
                <h3>Why OpenRent?</h3>
                <p>To bring rental information to everyone creating a database of rent prices in Dublin.</p>
            </div>
            <div class="col s12 m6 about__card">
                <div class="card-panel">
                    <img class="img-left" src="{{ url_for('static', filename='images/for-you.png') }}"
                         alt="Man with magnifying glass">
                    <div class="black-text txt-left"><span>FOR YOU</span><br> Find out what are the rent prices
                        practiced in the Irish market.
                    </div>
                </div>
            </div>
            <div class="col s12 m6 about__card">
                <div class="card-panel">
                    <img class="img-right" src="{{ url_for('static', filename='images/for-the-community-boy.png') }}"
                         alt="Man with hand up waving">
                    <div class="black-text txt-right"><span>FOR THE <br> COMMUNITY</span><br> To provide user driven
                        data of the private rented sector and <br> track the market in Dublin.
                    </div>
                    <img class="img-right-two"
                         src="{{ url_for('static', filename='images/for-the-community-girl.png') }}"
                         alt="Woman with hand up waving">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section class="contact">
    <div class="container">
        <h2>Let's Chat</h2>
        <div class="row">
            <div class="col">
                <p>Whether you fancy a chat or want to talk about our mission, we're here for you.</p>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12">
                <a href="{{ url_for('contact') }}">
                    <button class="btn-large button-white">Contact us <i class="fas fa-paper-plane"></i></button>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}