{% extends "base.html" %}
{% block content %}

<section class="container profile">
    <!-- flash message -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h5 class="center-align flash">{{ message }}</h5>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <!-- ./flash message -->

    <h3 class="center-align welcome-user"><span>Welcome,</span><br> {{ username }}</h3>

    <!-- Profile -->
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header"><i class="fas fa-user-circle prefix"></i>My Details</div>
            <div class="collapsible-body">
                <!-- Profile -->
                <form class="my-profile">
                    <div class="row">
                        <div class="col s8">
                            <button class="btn-small button-profile" type="submit">Edit Profile</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <label for="first-name">First Name</label>
                            <input id="first-name" name="first-name" type="text">
                        </div>
                        <div class="col s12 m6">
                            <label for="last-name">Last Name</label>
                            <input id="last-name" name="last-name" type="text">
                        </div>
                        <div class="col s12">
                            <label for="email-address">Email Address</label>
                            <input id="email-address" name="email-address" type="email">
                        </div>
                    </div>
                </form>
                <!-- ./Profile -->
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-home"></i>My Tenancies</div>
            <div class="collapsible-body">
                <!-- Tenancies -->
                <div class="my-tenancies">
                    <div class="row">
                        <div class="s8">
                            <a href="{{ url_for('add_tenancy') }}">
                                <button class="btn-small button-profile">Add Tenancy</button>
                            </a>
                        </div>
                    </div>
                    {% for tenancy in user_tenancies %}
                    <div class="card-panel my-tenancies__card">
                        <div class="row table-responsive">
                            <div class="col">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>Address 1</th>
                                        <td>{{ tenancy.address_1 }}</td>
                                    </tr>
                                    <tr>
                                        <th>Address 2</th>
                                        <td>{{ tenancy.address_2 }}</td>
                                    </tr>
                                    <tr>
                                        <th>Accommodation</th>
                                        <td>{{ tenancy.accommodation_type }}</td>
                                    </tr>
                                    <tr>
                                        <th>Start Date</th>
                                        <td>{{ tenancy.start_date }}</td>
                                    </tr>
                                    <tr>
                                        <th>End Date</th>
                                        <td>{{ tenancy.end_date }}</td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td>{{ tenancy.price }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row center-align">
                            <div class="col s12 m6">
                                <a href="{{ url_for('edit_tenancy', tenancy_id=tenancy._id) }}">
                                    <button class="btn-small button-tenancy">Edit Tenancy</button>
                                </a>
                            </div>
                            <div class="col s12 m6">
                                <a href="#modal-delete" class="modal-trigger">
                                    <button class="btn-small button-tenancy">Delete Tenancy</button>
                                </a>
                            </div>
                            <!-- Modal Structure -->
                            <div id="modal-delete" class="modal">
                                <div class="modal-content">
                                    <h4>Delete Tenancy</h4>
                                    <p>Are you sure you want to this delete tenancy? This action is irreversible.</p>
                                </div>
                                <div class="row">
                                    <div class="col s12 m6">
                                        <a href="{{ url_for('profile', username=session['user']) }}" class="modal-close">
                                            <button class="btn-small button-profile">Cancel <i class="fas fa-times-circle"></i></button></a>
                                    </div>
                                    <div class="col s12 m6">
                                        <a href="{{ url_for('delete_tenancy', tenancy_id=tenancy._id) }}" class="modal-close">
                                            <button class="btn-small button-profile">Delete Tenancy <i class="fas fa-trash"></i></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- ./Tenancies -->
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-user-times"></i>Privacy</div>
            <div class="collapsible-body">
                <!-- Delete profile -->
                <div class="row">
                    <div class="col">
                        <p>We respect your data and privacy. If you wish to delete your account and purge your data, <a
                                href="" type="submit">click here</a>.</p>
                    </div>
                </div>
                <!-- ./Delete profile -->
            </div>
        </li>
    </ul>

    <!-- ./Tenancies -->
</section>

{% endblock %}