{% extends "base.html" %}
{% block content %}

<section class="container profile">
    <!-- flash message -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h5 class="center-align flash">{{ message }}</h5>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <!-- ./flash message -->

    <h3 class="center-align welcome-user"><span>Welcome,</span><br> {{ current_user.username }}</h3>

    <!-- Profile -->
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header"><i class="fas fa-user-circle prefix"></i>My Details</div>
            <div class="collapsible-body">
                <!-- Profile -->
                <div class="my-profile">
                    <div class="row">
                        <div class="col s8">
                            <div class="btn-small button-black" type="submit">
                                <a href="{{ url_for('edit_profile', user_id=user_details._id) }}">
                                    Edit Profile
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            {% if user_details.first_name %}
                            <label for="first_name">First Name</label>
                            <input id="first_name" name="first-name" type="text" value="{{ user_details.first_name }}"
                                   disabled>
                            {% else %}
                            <label for="disabled">First Name</label>
                            <input id="disabled" type="text" disabled>
                            {% endif %}
                        </div>
                        <div class="col s12 m6">
                            {% if user_details.last_name %}
                            <label for="last_name">Last Name</label>
                            <input id="last_name" name="last-name" type="text" value="{{ user_details.last_name }}"
                                   disabled>
                            {% else %}
                            <label for="disabled">Last Name</label>
                            <input id="disabled" type="text" disabled>
                            {% endif %}
                        </div>
                        <div class="col s12">
                            {% if user_details.email_address %}
                            <label for="email_address">Email Address</label>
                            <input id="email_address" name="email-address" type="email"
                                   value="{{ user_details.email_address }}" disabled>
                            {% else %}
                            <label for="disabled">Email Address</label>
                            <input id="disabled" type="text" disabled>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- ./Profile -->
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-home"></i>My Tenancies</div>
            <div class="collapsible-body">
                <!-- Tenancies -->
                <div class="my-tenancies">
                    <div class="row">
                        <div class="col s8">
                            <div class="btn-small button-black">
                                <a href="{{ url_for('add_tenancy') }}">Add Tenancy</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for tenancy in user_tenancies %}
                        <div class="col s12 m10 offset-m1">
                            <div class="card-panel card-tenancy js-card-tenancy-profile">
                                <div class="card-content">
                                    <h4 class="js-price">€{{ tenancy.price }}</h4>
                                    <p class="js-address-1">{{ tenancy.address_1 }}</p>
                                    <p class="js-address-2">{{ tenancy.address_2 }}</p>
                                    <hr>
                                    <div class="card-content__key">
                                        <p>Type:</p>
                                    </div>
                                    <div class="card-content__value">
                                        <p class="js-type">{{ tenancy.accommodation_type }}</p>
                                    </div>
                                    <div class="card-content__key">
                                        <p>Duration:</p>
                                    </div>
                                    <div class="card-content__value">
                                        <p class="js-duration-of-tenancy"></p>
                                    </div>
                                    <div class="card-content__key">
                                        <p>Start:</p>
                                    </div>
                                    <div class="card-content__value">
                                        <p class="js-start-date">{{ tenancy.start_date }}</p>
                                    </div>
                                    <div class="card-content__key">
                                        <p>End:</p>
                                    </div>
                                    <div class="card-content__value">
                                        <p class="js-end-date">{{ tenancy.end_date }}</p>
                                    </div>
                                    <div class="card-content__date">
                                        <p>- Last Updated: {{ tenancy.date }} -</p>
                                    </div>
                                </div>
                                <div class="card-buttons">
                                    <div class="btn-large button-white">
                                        <a href="{{ url_for('edit_tenancy', tenancy_id=tenancy._id) }}">Edit <i
                                                class="fas fa-edit"></i></a>
                                    </div>
                                </div>
                                <div class="card-buttons">
                                    <div class="btn-small button-white">
                                        <a href="#modal-delete-tenancy" class="modal-trigger">Delete <i
                                                class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                                <!-- Modal Delete Tenancy -->
                                <div id="modal-delete-tenancy" class="modal">
                                    <div class="modal-content">
                                        <h4>Delete Tenancy</h4>
                                        <p>Are you sure you want to this delete tenancy? This action is
                                            irreversible.</p>
                                    </div>
                                    <div class="row center-align">
                                        <div class="col s12 m6">
                                            <div class="btn-small button-black">
                                                <a href="{{ url_for('profile') }}" class="modal-close">Cancel <i
                                                        class="fas fa-times-circle"></i></a>
                                            </div>
                                        </div>
                                        <div class="col s12 m6">
                                            <div class="btn-small button-black">
                                                <a href="{{ url_for('delete_tenancy', tenancy_id=tenancy._id) }}"
                                                   class="modal-close">Delete Tenancy <i
                                                        class="fas fa-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./Modal Delete Tenancy -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- ./Tenancies -->
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-user-times"></i>Privacy</div>
            <div class="collapsible-body">
                <!-- Delete profile -->
                <div class="row">
                    <div class="col">
                        <p>We respect your data and privacy. If you wish to delete your account and purge your data, <a
                                href="#modal-delete-profile" class="modal-trigger">click here</a>.</p>
                    </div>
                </div>
                <!-- ./Delete profile -->
                <!-- Modal Delete profile -->
                <div id="modal-delete-profile" class="modal">
                    <div class="modal-content">
                        <h4>Delete Profile</h4>
                        <p>Are you sure you want to this delete your profile? This action is irreversible.</p>
                    </div>
                    <div class="row center-align">
                        <div class="col s12 m6">
                            <div class="btn-small button-black">
                                <a href="{{ url_for('profile') }}" class="modal-close">Cancel <i
                                        class="fas fa-times-circle"></i></a>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="btn-small button-black">
                                <a href="{{ url_for('delete_profile', user_id=user_details._id) }}" class="modal-close">Delete
                                    Profile <i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Modal Delete profile -->
            </div>
        </li>
    </ul>
    <!-- ./Tenancies -->
</section>

<section class="rent-register-profile">
    <div class="row center-align">
        <a href="{{ url_for('rent_register') }}">
            <div class="col s12 rent-register-profile__text">
                Rent Register
                <i class="fas fa-angle-double-right"></i>
                <i class="fas fa-angle-double-right"></i>
                Check out the map
                <i class="fas fa-angle-double-right"></i>
                <i class="fas fa-angle-double-right"></i>
            </div>
        </a>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/durationOfTenancyProfile.js') }}"></script>
{% endblock %}