{% extends "base.html" %}
{% block content %}

<h3 class="center-align heading-section">Rents Map</h3>

<section class="rents-map">
    <!-- Map -->
    <div id="map"></div>
    <!-- ./Map -->

    <h4 class="center-align heading-section">Tenancies</h4>
    <!-- Card Tenancy -->
    <div class="row">
        {% for tenancy in tenancies %}
        <div class="col s12 m6">
            <div class="card-panel card-tenancy">
                <div class="card-content">
                    <h4 class="js-price">€{{ tenancy.price }}</h4>
                    <p class="js-address-1">{{ tenancy.address_1 }}</p>
                    <p class="js-address-2">{{ tenancy.address_2 }}</p>
                    <hr>
                    <div class="card-content__key">
                        <p>Type:</p>
                    </div>
                    <div class="card-content__value">
                        <p class="js-type">{{ tenancy.accommodation_type }}</p>
                    </div>
                    <div class="card-content__key">
                        <p>Duration:</p>
                    </div>
                    <div class="card-content__value">
                        <p>X months</p>
                    </div>
                    <div class="card-content__key">
                        <p>Start:</p>
                    </div>
                    <div class="card-content__value">
                        <p>{{ tenancy.start_date }}</p>
                    </div>
                    <div class="card-content__key">
                        <p>End:</p>
                    </div>
                    <div class="card-content__value">
                        <p>{{ tenancy.end_date }}</p>
                    </div>
                    <div class="hidden-coordinates">
                        <div class="js-lat-long">
                            <div class="js-lat">{{ tenancy.latitude }}</div>
                            <div class="js-long">{{ tenancy.longitude }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- ./Card Tenancy -->

</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyahPifJNOEODhSoMTswXum-vuIfSDF8w&callback=initMap&libraries=places&v=weekly"></script>
{% endblock %}