{% extends "base.html" %}
{% block content %}

<h3 class="center-align heading-section">View Tenancy</h3>

<section class="container manage-tenancy">
    <!-- Get Tenancy -->
    <form>
        <div class="row manage-tenancy__inputs">
            <div class="col s12 form-margin">
                <label>Address Line 1</label>
                <input type="text" id="address_1" value="{{ tenancy.address_1 }}">
            </div>
            <div class="col s12 form-margin">
                <label>Address Line 2</label>
                <input type="text" id="address_2" value="{{ tenancy.address_2 }}">
            </div>
            <div class="col s12 form-margin">
                <label>Accommodation Type</label>
                <input type="text" id="accommodation_type_view" value="{{ tenancy.accommodation_type }}">
            </div>
            <div class="col s12 form-margin">
                <label>Start Date</label>
                <input type="text" id="start_date" value="{{ tenancy.start_date }}">
            </div>
            <div class="col s12 form-margin">
                <label>End Date</label>
                <input type="text" id="end_date" value="{{ tenancy.end_date }}">
            </div>
            <div class="col s12 form-margin">
                <label>Price</label>
                <input type="text" id="price" value="{{ tenancy.price }}">
            </div>
        </div>
    </form>

    <!-- ./Get Tenancy -->
    <div class="row center-align">
        <!--Edit Tenancy -->
        <div class="col s12 m6">
            <div class="btn-large button-black" type="submit">
                <a href="{{ url_for('edit_tenancy', tenancy_id=tenancy._id) }}">Edit Tenancy <i class="fas fa-edit"></i></a>
            </div>
        </div>
        <!-- ./Edit Tenancy -->
        <!--View Map / All Tenancies -->
        <div class="col s12 m6">
            <div class="btn-large button-black" type="submit">
                <a href="{{ url_for('rent_register') }}">View Map <i class="fas fa-map-marked-alt"></i></a>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div id="map-tenancy">
        <div id="map"></div>
    </div>
    <!--  ./Map -->
</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyahPifJNOEODhSoMTswXum-vuIfSDF8w&callback=initMap&libraries=places&v=weekly"
        defer></script>
{% endblock %}