{% extends "base.html" %}
{% block content %}

<h3 class="center-align">View Tenancy</h3>

<section class="container">

    <!--Get Tenancy -->
    <div class="row">
        <div class="col">
            {{ tenancy._id }} <br>
            {{ tenancy.address }} <br>
            {{ tenancy.accommodation_type }} <br>
            {{ tenancy.start_date }} <br>
            {{ tenancy.end_date }} <br>
            {{ tenancy.price }} <br>
        </div>
    </div>

    <div class="row">
        <!--Edit Tenancy -->
        <div class="col s12 m4 ">
            <button class="btn-large" type="submit">
                Edit Tenancy
            </button>
        </div>

        <!--Delete Tenancy -->
        <div class="col s12 m4 ">
            <button class="btn-large" type="submit">
                Delete Tenancy
            </button>
        </div>

        <!--View Map / All Tenancies -->
        <div class="col s12 m4 ">
            <button class="btn-large" type="submit">
                View Map
            </button>
        </div>
    </div>

    <!-- Map -->
    <div id="map"></div>

</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyahPifJNOEODhSoMTswXum-vuIfSDF8w&callback=initMap&libraries=places&v=weekly" defer></script>
{% endblock %}